<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--不能创建spring xml文件先添加 spring-context.jar-->

    <!-- 启动注解驱动的Spring MVC功能，注册请求url和注解POJO类方法的映射-->
    <mvc:annotation-driven/>

    <!--对静态资源的访问-->
    <mvc:resources mapping="/assets/**" location="/static/assets/"/>
    <mvc:resources mapping="/js/**" location="static/js/"/>
    <mvc:resources mapping="/css/**" location="static/css/"/>
    <mvc:resources mapping="/img/**" location="static/img/"/>

    <!-- 自动扫描且只扫描@Controller -->
    <context:component-scan base-package="com.lh" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <!--使用CGLib动态代理-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!--视图渲染-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <!--<bean id="fastJsonConfig" class="com.alibaba.fastjson.support.config.FastJsonConfig">
        &lt;!&ndash; Default charset &ndash;&gt;
        <property name="charset" value="UTF-8"/>
        <property name="dateFormat" value="yyyy-MM-dd HH:mm:ss"/>
        &lt;!&ndash; SerializerFeature &ndash;&gt;
        <property name="serializerFeatures">
            <list>
                <value>QuoteFieldNames</value>
                <value>WriteNullBooleanAsFalse</value> &lt;!&ndash;Boolean字段如果为null，输出为false，而不是null&ndash;&gt;
            </list>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <constructor-arg value="UTF-8"/>
                </bean>
                &lt;!&ndash; 配置Fastjson支持 &ndash;&gt;
                <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>application/json</value>
                        </list>
                    </property>
                    <property name="fastJsonConfig" ref="fastJsonConfig"/>
                </bean>
            </list>
        </property>
    </bean>-->

</beans>